<nav class="grey darken-3">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo">StoryBooks</a>
    <div class="right">
      <a class="btn waves-effect waves-light btn-small" href="/stories">Public Stories</a>
      <a class="btn waves-effect waves-light btn-small" href="/dashboard">Dashboard</a>
      <a class="btn waves-effect waves-light btn-small" href="/auth/logout">Logout</a>
    </div>
  </div>
</nav>
